@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
    font-family: 'Poppins';
    src: url('/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
  padding: 0;
  margin: 0;
  width: 100%;
  background: radial-gradient(rgb(112, 253, 255), rgb(5, 72, 143));
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
    color: aliceblue;
    font-family: 'calibri', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
i{
    color:  #d0ff00;
    font-style: normal;  
}
header{
    padding-top: 15px;
    display: inline-block;
    width: 100%;
    margin: 0;
}
#logo{
    display: inline-block;
    margin-left: 10px;
}
#logo img{
    margin-top: 9px;
    margin-bottom: 10px;
    width: 180px;
    max-height: 100px;
}
#logo p{
    margin-top: 0;
    font-weight: 600;
    font-size: larger;
}
.calendar{
    font-family: poppins;
    font-weight: 600;
    float: right;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 20px;
}
#time{
text-align: center;
}
#date{
    font-family: poppins;
    text-align: end;
    font-size: small ;
    color: rgb(32, 149, 228);
}
#menu{
  position: sticky;
  top: 0;
  width: 750PX;
margin: 0 auto;
  z-index: 100;
}
nav{
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    margin-top: 7px;
    font-family: poppins;
    padding: 2px;
    box-shadow: 5px 5px 5px black;
}
ul{
    list-style-type: none;
}
nav ul{
    list-style-type: none;
    text-align: center;
}
nav li {
    
    display: inline-block;
    margin-right: 30px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: aliceblue;
    transition: all 0.5s ease-in-out;

}
nav li img{
    vertical-align: -4px;
    margin-right: 7px;
    width: 19px;
    height: 19px;
}
nav li a{
    font-weight: bold;
}
nav li a:hover{
    color: #d0ff00;
    letter-spacing: 2px;
    padding-bottom: 16px;
    border-bottom: 4px solid #d0ff00;
    transition: all 0.5s ease-in-out;
}
nav li a.actif{
    color: #d0ff00;
    letter-spacing: 2px;
    padding-bottom: 16px;
    border-bottom: 4px solid #d0ff00;
    
}
@media screen and (min-width: 570px) and (max-width: 820px) {
  nav{
      background-color: rgb(48, 48, 48);
      border-radius: none;
      font-family: poppins;
      padding: 5px;
      margin-left: -60px;
      box-shadow: 5px 5px 5px black;
  }
  ul{
      list-style-type: none;
  }
  nav ul{
      list-style-type: none;
      text-align: center;
  }
  nav li {
      
      display: inline-block;
      margin-right: 3px;
  }
  nav li a{
      font-weight: bold;
      margin-right: 8px;
  }
  nav li a:hover{
      color: #d0ff00;
      letter-spacing: 2px;
      padding-bottom: 23px;
      border-bottom: 4px solid #d0ff00;
      transition: all 0.5s ease-in-out;
  }
  nav li a.actif{
      color: #d0ff00;
      letter-spacing: 2px;
      padding-bottom: 23px;
      border-bottom: 4px solid #d0ff00;}
      
  

  #menu{
      width: 95%;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;
      margin: 0;
  }
  nav{
      margin: 0;
      margin-top: 0;
      border-radius: 0;
      font-family: poppins;
  }

  nav li a{
      font-weight: bold;
      font-weight:580;
      font-size: 14px;
  }
  
  nav li img{
      vertical-align: -4px;
      margin: 1px;
      margin-right: 3px;
  }
}
@media screen and (max-width: 570px) {
  nav{
      background-color: rgb(48, 48, 48);
      border-radius: none;
      font-family: poppins;
      padding: 5px;
      margin-left: -60px;
      box-shadow: 5px 5px 5px black;
  }
  ul{
      list-style-type: none;
  }
  nav ul{
      list-style-type: none;
      text-align: center;
  }
  nav li {
      
      display: inline-block;
      margin-right: 3px;
  }
  nav li a{
      font-weight: bold;
      margin-right: 2px;
  }
  nav li a:hover{
    color: #d0ff00;
    letter-spacing: 2px;
    padding-bottom: 23px;
    border-bottom: 4px solid #d0ff00;
    transition: all 0.5s ease-in-out;
}
nav li a.actif{
    color: #d0ff00;
    letter-spacing: 2px;
    padding-bottom: 23px;
    border-bottom: 4px solid #d0ff00;}
    

  #menu{
      width: 100%;
      border-radius: none;
      position: -webkit-sticky;
    position: sticky;
    top: 0;
      z-index: 1;
      margin: 0;
  }
  nav{
      border-radius: none;
      margin-top: 0;
      border-radius: 0;
      font-family: poppins;
  }

  nav li a{
      font-weight: bold;
      font-weight:580;
      font-size: 12px;
  }
  
  nav li img{
      vertical-align: -4px;
      margin: 1px;
      margin-right: 2px;
  }
}
@media screen and (max-width:700px){
  body{
      margin: 0;
  }
  #menu{
      width: 100%;
      position: -webkit-sticky;
    position: sticky;
     margin-top: -50px;
    top: 0;
      z-index: 1;
      margin: 0;
  }
  nav{
      margin-top: 0;
      border-radius: 0;
      font-family: poppins;
  }
  nav li img{
      margin-right: 2px;
  }
  nav li{
    margin-right: 3px;
  }
  nav li a:hover{
    color: #d0ff00;
    letter-spacing: 2px;
    padding-bottom: 23px;
    border-bottom: 4px solid #d0ff00;
    transition: all 0.5s ease-in-out;
}
nav li a.actif{
    color: #d0ff00;
    letter-spacing: 2px;
    padding-bottom: 23px;
    border-bottom: 4px solid #d0ff00;}
    
  nav li a{
      letter-spacing: 1px;
      font-weight:580;
      font-size: 14px;
  }
  nav li a:hover{
    letter-spacing: none;
  }
  header{
  background-color: rgb(48, 48, 48);
  }
  #date{
      color: aliceblue;
  }
}
@media screen and (max-width:1285px) and (min-width:901px){
  .titre strong{
      font-size: 28px;
  }   
  .titre img{
      margin-left: 10px;
      margin-right: 10px;
      width: 50px;
      height: 50px;
     display: none;    }
};



body{
  font-family: poppins;
  background: radial-gradient(rgba(112, 191, 211, 0.9), rgba(14, 69, 108, 0.9));

}
/* Styles pour masquer la fenêtre modale */
.modal {
z-index: 102;
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
animation: fadeIn 0.3s ease-in-out;
}

/* Styles pour la boîte de contenu de la fenêtre modale */
.modal-content {
  background-color: rgba(14, 8, 68, 0.863);
  font-family: poppins;
position: absolute;
width: 75%;
height: 650px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow-y: scroll;
scrollbar-width: 4px;
padding: 20px;
border-radius: 5px;
}
.modal-content::-webkit-scrollbar{
  width: 5px;
}
.modal-content::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}
.modal-content::-webkit-scrollbar-thumb {
  background-color: rgb(248, 255, 255);
  border-radius: 20px;
  border: 7px solid #d0ff00;
}
.modal-content .link{
  color: rgb(32, 205, 239);
  transition: all 0.3s ease;
}
.modal-content .link:hover{
  color: rgb(143, 236, 255);
}
.modal-content h2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: bold;
}
.modal-content b{
  color: #d0ff00 !important;
}
body::-webkit-scrollbar{
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: white;
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(248, 255, 255);
  border-radius: 20px;
  border: 7px solid #d0ff00;
}
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}


/* Styles pour le bouton de fermeture */
.close {
  position: sticky;
  top: 10px;
  right: 10px;
  float: right;
  color: #d0ff00;
  font-size: 50px;
  cursor: pointer;
}

#svg-container{
  width: 100%;
  height: auto;
  }

#svg-container path{
  fill: rgb(27, 62, 96);
  stroke: rgb(255, 255, 255);
  stroke-width: 1px;
  transition: all 0.5s ease;
}
#svg-container path:hover{
  fill: #d0ff00;
}
#legend{
  display: inline-block;
  width: 14%;
  vertical-align: top;
}
#legend ul{
  list-style: none;
  text-align: start;
}
#legend ul li{
  list-style-type: none;
}
#legend ul li a{
  text-decoration: none;
  color: aliceblue;
  font-size: 18px ;
  text-align: start;
}
.active {
  fill: #d0ff00 !important;
}
.modal h1{
  color: #d0ff00;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3em;
  font-weight: bolder;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

/* Style du point rouge */
.point {
  fill: rgb(199, 0, 40);
  animation: blink 2s infinite;
  opacity: 0.7;
  r: 23;
  transition: all 0.5s ease;
  cursor: pointer;}

  .point:hover {
    r: 26;
    fill: #d0ff00;
  }

.label {
  text-shadow: 3px 3px 5px black;
  font-family: calibri;
  font-weight: bold;
  font-size: 20px;
  fill: rgb(255, 255, 255); /* Couleur du texte */
  text-anchor: middle; /* Alignement central du texte */
  pointer-events: none; /* Pour que le texte n'interfère pas avec les clics sur les éléments sous-jacents */
}

@media screen and (max-width:1080px) {
  #menu{
    position:fixed;
    width: 100%;
    margin: 0;
    top: 80px;
    border-radius: none !important;
  }
  
  #svg-container{
    width: 1920px;
    margin-top: 120px;
  }
  header{
    position:fixed;
    width: 100%;
    background-color: rgb(48, 48, 48);
  }

  nav{
    border-radius: 0;
  }
  }

.debut{
  text-align: center;
  color: white !important;
  font-size: 1.2em;
}
.Picture{
  text-align: center;
}
.Picture img{
  margin: 0 auto;
  width: 80%;
}
@media screen and (max-width:820px) {
  #menu{
    position:fixed;
    width: 100%;
    margin: 0;
  }
  #svg-container{
    width: 1920px;
  }

.debut{
  text-align: center;
  color: white !important;
  font-size: 1.2em;
}
.Picture{
  text-align: center;
}
.Picture img{
  margin: 0 auto;
  width: 80%;
}
}